
.classOne{
    background-color:#C387E8;
    display:flex;
 ;
}

.header{
    background-color:#7F8FEB;
display: flex;
}

.classTwo{
    background-color:#F6F340;
display: flex;
}

.classThree{
    background-color:#9EF366;
    display: flex;
   

}