.body{
    margin-left: 0px;

    
}
.classOne{
    background-color:#C387E8;
    display:flex;
    padding-left: 30px;
    margin: 10px;
 ;
}

.header{
    background-color:#7F8FEB;
display: flex;
padding-left: 50%;

}

.classTwo{
    background-color:#F6F340;
display: flex;
padding: 10px;
margin: 10px;
}

.classThree{
    background-color:#9EF366;
    display: flex;
 
}

.origami p, .origami1 p, .origami2 p, .origami3 p, .origami4 p, .origami5 p{
   position:absolute;
   font-family: 'Times New Roman';
   font-size:30px;
   
   left: 50%;
  

}
.origami{
    margin: 10px;
    padding-right: 50%;
position: relative;
}
.origami:hover, .origami1:hover, 
.origami2:hover, .origami3:hover, 
.origami4:hover, .origami5:hover{
    transform:scale(0.9);
}


a:link{
color: blue;
}

v:link{
    color:coral;
}